@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=GolosText&display=swap");

/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.page {

    margin: 0 auto;
    padding: 0;
    font-family: "Merriweather", sans-serif;
    height: 100vh;
}

.header {  
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('/images/background.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* min-height: 700px; */
    max-height: 774px;
    /* width: 100%; */
    margin: 0;
    padding: 26px 72px 0 72px;
    /* justify-content: flex-start; */
    color: #313131;
   
}

.logo {
    text-align: left;
    height: 36px;
    width: 245px;   
}


.header__title_up {
    display: flex;
    left: 72px;
    line-height: 110%;
    max-width: 542px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin: 72px 0 0 ;
}

.header__title_down {
    display: flex;
    line-height: 110%;
    max-width: 542px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.header__subtitle {
    font-family: "GolosText", sans-serif;
    line-height: 130%;
    width: 542px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 26px 0 26px;
}



.header__buttons {
    position: relative;
    display: flex;
    gap: 16px;
    width: 542px;
    align-items: center;
    justify-content: space-between;
 
}

.header__button {
    width: 542px;
    height: 72px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    border: 2px solid #1F1F1F;
    border-radius: 66px;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding: 0 49px;
margin: 0;
}

.header__button:hover {
    background-color: #FBCE51;
    color: #1F1F1F;
    border: 2px solid #FBCE51;
    opacity: 1;
    right: 0;
  }

.button_secondary {
    background-color: transparent;
    color: #1F1F1F;
    border: 2px solid #1F1F1F;
}

.button_secondary:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
    border: 2px solid #1F1F1F;
    opacity: 1;
    right: 0;
  }

/* Бегущая строка */

.running-line {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 18px 0;
    height: 60px;
    background-color: #F54932;
    overflow: hidden;
}

.running-line__texts {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
    animation: marquee 45s linear infinite;
}
 
.running-line__text {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    align-items: center;
    text-transform: uppercase;
    line-height: 110%;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
}

.running-line__text::before {
    content: "•";
    padding: 0 12px;
}


@keyframes marquee {
    0% { transform: translateX(0%); } /* Начало анимации: текст за экраном */
    100% { transform: translateX(-50%); } /* Конец анимации: текст за экраном */
}

/* информационный блок */
.inform-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 72px 0 72px;
}

.inform-block__title {
    max-width: 764px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.inform-block__title_text {
    line-height: 135%;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.styled-text {
    font-style: bold;
    color: #F54932;
}

.inform-block__image {
    margin: 0;
    padding: 0;
}

.inform-image {
    max-width: 394px;
}

/* Блок из 2х колонок с таблицей */
.session-details {
    display: flex;
    gap: 22px;
    padding: 20px 72px 0 45px;
    margin: 0px;
}

.session-details__image {
    margin: 0;
    padding: 0;
}

.session-image {
    width: 530px;
    height: auto;
}

.session-details__container {
    width: 704px;
    padding: 44px 0 0;
}

.session-details__title {
    line-height: 135%;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 60px 0;
}

.session-details__table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-style: normal;
    font-weight: 400;
    color: #313131;
    font-variant-numeric: lining-nums proportional-nums;
}

.session-details__table th {
    font-weight: normal;
    border-bottom: 2px solid #D0D0D0;
    border-right: 2px solid #D0D0D0;
    text-align: left;
    padding: 16px 16px 16px 0;
    width: 300px;
}

.session-details__table td {
    font-weight: bold;
    border-bottom: 2px solid #D0D0D0;
    padding: 16px;
}


.session-details__table td {
    border-left: none; 
    border-right: none;
}

.session-details__table tr:first-child td {
    border-top: none;
}

.session-details__table tr:last-child td {
    border-bottom: none;
}

.session-details__table tr:last-child th {
    border-bottom: none;
}

.session-details__styled-text {
    text-decoration: line-through #F54932;
}

.session-details__message-text {
    margin: 48px 0 0 0;
    font-family: "Golos Text", sans-serif;
    color: #3057A2;
    font-size: 20px;
    line-height: 120%;
    font-style: normal;
    font-weight: 400;
    font-variant-numeric: lining-nums proportional-nums;
}



.vasuki {
    padding: 200px 0 0 72px;
}

.vasuki__title-container {
    max-width: 806px;
    margin: 0 0 54px;
}

.vasuki__title {
    position: relative;
    font-family: "Merriweather", sans-serif;
    font-size: 54px;
    line-height: 120%;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #313131;
    font-variant-numeric: lining-nums proportional-nums;
}

.vasuki__subtitle {
    position: absolute;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    font-style: normal;
    text-transform:none;
    color: #3057A2;
    width: 280px;
    left: 300px;
    bottom: 10px;
    font-variant-numeric: lining-nums proportional-nums;
}

.vasuki-grid__cards {
    position: relative;
    max-width: 1284px;
    display: grid;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: 112px 112px 136px;
    gap: 20px;
    overflow: hidden;

    margin: 0 0 54px;
}

.vasuki-grid__card {
    display: flex;
    gap: 16px;
    background: url("/images/card-bcg.png");
    background-size: cover;
    background-position: center;
    font-family: "Golos Text", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    font-style: normal;
    text-transform:none;
    color: #313131;
    padding: 20px;
}

.vasuki-grid__card-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 60px;
    background: #FFFFFF;

}

.vasuki-grid__card-content {
    max-width: 302px;
}

.double-vertical {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
}

.double-horizontal {
    grid-column-start: 2;
    grid-column-end: 4;
}

.double-horizontal .vasuki-grid__card-content {
    max-width: 446px;
}

.vasuki-grid__image {
    position: absolute;
    width: 377px;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 4;
}



/* Футтер */
footer {
    margin-top: 20px;
    text-align: center;
}