@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.page {

    margin: 0 auto;
    padding: 0;
    font-family: "Merriweather", sans-serif;
    height: 100vh;
}

.header {  
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url('/images/background.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* min-height: 700px; */
    max-height: 774px;
    /* width: 100%; */
    margin: 0;
    padding: 26px 72px 0 72px;
    /* justify-content: flex-start; */
    color: #313131;
   
}

.logo_place_header {
    text-align: left;
    /* position: absolute; */
    /* left: 72px; */
    /* top: 26px; */
    height: 36px;
    width: 245px;
    /* z-index: 5; */
    
}


.header__title_up {
    display: flex;
    left: 72px;
    line-height: 110%;
    max-width: 542px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    /* z-index: 4; */
    text-transform: uppercase;
    margin: 72px 0 0 ;
}

.header__title_down {
    display: flex;
    /* left: 72px; */
    line-height: 110%;
    max-width: 542px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
    /* z-index: 4; */
    text-transform: uppercase;
}

.header__subtitle {
    /* position: absolute; */
    /* left: 64px; */
    /* bottom: 30px; */
    line-height: 130%;
    width: 542px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin: 26px 0 26px;
}



.buttons {
    position: relative;
    display: flex;
    width: 542px;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 542px;
    height: 72px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    border: 2px solid #1F1F1F;
    border-radius: 66px;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    padding: 0;
    margin: 8px;
}

.button:hover {
    background-color: #FBCE51;
    color: #1F1F1F;
    border: 2px solid #FBCE51;
    opacity: 1;
    right: 0;
  }

.button_secondary {
    background-color: transparent;
    color: #1F1F1F;
    border: 2px solid #1F1F1F;
}

.button_secondary:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
    border: 2px solid #1F1F1F;
    opacity: 1;
    right: 0;
  }



/* Бегущая строка */

.running-line {
    display: flex;
    align-items: center;
    margin: 0;
    height: 60px;
    background-color: #F54932;
    overflow: hidden;
}

.marquee-block {
    list-style: none;
    /* list-style-type: disc; Используем буллеты для обозначения нового текста */
    margin: 0;
    padding: 0;
    display: inline-block; /* Для применения анимации к бегущей строке */
    white-space: nowrap; /* Строки не переносятся на новую строку */
    animation: marquee 45s linear infinite; /* Анимация: прокрутка с постоянной скоростью */
}
 
    /* display: inline;
    overflow-x: hidden;
    overflow: hidden; 
    white-space: nowrap;
    display: inline-block;
    animation: marquee 45s linear infinite;  */


.marquee-text {
    display: inline-block;
    padding-right: 40px; /* Промежуток между текстами */
 margin: 0;
 color: #FFFFFF;
 align-items: center;
 text-transform: uppercase;
 line-height: 110%;
 font-size: 22px;
 font-style: normal;
 font-weight: normal;
}

.marquee-text::before {
    content: "• "; /* Добавляем буллет перед текстом */
}


@keyframes marquee {
    0% { transform: translateX(0%); } /* Начало анимации: текст за экраном */
    100% { transform: translateX(-50%); } /* Конец анимации: текст за экраном */
}

/* Блок из 2х колонок */
.inform-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 72px 0 72px;
}

.inform-block__text {
    max-width: 764px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.inform-text {
    line-height: 135%;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.styled-text {
    font-style: bold;
    color: #F54932;
}

.inform-block__image {
    max-width: 394px;
}

.inform-image {
 
}

/* Блок из 2х колонок с таблицей */
.two-column-table-block {
    display: flex;
    margin-top: 20px;
}

.right-column table {
    width: 100%;
    border-collapse: collapse;
}

.right-column table td {
    border: 1px solid #000;
    padding: 5px;
}

/* Заголовок */
.title-block {
    margin-top: 20px;
}

/* Футтер */
footer {
    margin-top: 20px;
    text-align: center;
}